<% layout('layouts/boilerplate')%>
    <div class="container">
        <div id="cluster-map"></div>
    </div>
    <div class="container mb-3 mt-3">
        <div class="row justify-content-start">
            <div class="col col-md-6 col-lg-4 align-self-center">
                <h1>All Camgrounds</h1>
            </div>
            <div class="col col-md-6 col-lg-4 align-self-center">
                <a class="btn btn-primary" href="/campgrounds/new">Add Campground</a>
            </div>
        </div>
    </div>


    <div class="container">
        <% for (let cg of results.results) { %>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-4">
                        <% if(cg.images.length) {%>
                            <img class="img-fluid" alt="" src=<%=cg.images[0].url%>>
                            <% } else { %>
                                <img src="https://images.unsplash.com/photo-1471115853179-bb1d604434e0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1259&q=80"
                                    alt="" class="img-fluid">
                                <% } %>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%=cg.title%>
                            </h5>

                            <p class='card-text'>
                                <%=cg.description%>
                            </p>
                            <p class='card-text'>
                                <small class='text-muted'>
                                    <%= cg.location%>
                                </small>
                            </p>
                            <a class="btn btn-primary" href="/campgrounds/<%=cg._id%>">View</a>
                        </div>
                    </div>
                </div>
            </div>
            <% }%>

                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <% if(results.previous) { %>
                            <li class="page-item">
                                <a class="page-link"
                                    href="/campgrounds?page=<%=results.previous.page%>&limit=<%=results.previous.limit%>"
                                    tabindex="-1">Previous</a>
                            </li>
                            <% } else {%>
                                <li class="page-item disabled">
                                    <a class="page-link" tabindex="-1">Previous</a>
                                </li>
                                <% } %>

                        <% if(results.previous) { %>
                            <li class="page-item"><a class="page-link"
                                    href="/campgrounds?page=<%=results.previous.page%>&limit=<%=results.previous.limit%>">
                                    <%=results.previous.page%>
                                </a></li>
                            <% } %>

                        <li class="page-item"><a class="page-link" href="#">
                            <%=page%>
                        </a></li>

                        <% if(results.next) { %>
                        <li class="page-item"><a class="page-link"
                                href="/campgrounds?page=<%=results.next.page%>&limit=<%=results.next.limit%>">
                                <%=results.next.page%>
                            </a></li>
                        <% } %>

                        <% if(results.next) { %>
                            <li class="page-item">
                                <a class="page-link"
                                    href="/campgrounds?page=<%=results.next.page%>&limit=<%=results.next.limit%>">Next</a>
                            </li>
                            <% } else {%>
                                <li class="page-item disabled">
                                    <a class="page-link">Next</a>
                                </li>
                                <% } %>

                    </ul>
                </nav>
    </div>
    </ul>

    <script>
        const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
        const campgrounds = `<%-JSON.stringify({features: campgrounds})%>`;
    </script>
    <script src="/javascripts/clusterMap.js"></script>